[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
ujson = {version = "*",sys_platform = "!= 'win32'"}
quart = "*"

[dev-packages]

[requires]
python_version = ">3.6"
